@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #2f4f4fcc;
  /* --primary-color: #38bdf8; */
  /* --primary-color: #004080; */
  /* --primary-color: #132f4c; */
  /* --primary-color-hover: #146ebe; */
  /* --primary-color-opacity: rgb(20, 110, 190, .5); */
  --body-bg-color: #eaeded;
  --white-color: #fff;
  --black-color: #000;
  --dark-color: #1e2022;
  --box-shadow: rgb(164, 164, 164);
}

/* ------------------------------- Text selection color -------------------------- */
::selection {
  background-color: var(--primary-color);
  color: white;
}

/* ------------------------------- Custom scroll bar -------------------------- */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  box-shadow: inset 0 0 0px 1px var(--body-bg-color);
  cursor: grabbing;
  transition: 0.2s linear;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--body-bg-color);
  color: var(--black-color);
}

main {
  margin: 5.5em auto 0;
  max-width: 1500px;
  position: relative;
}

/* ------------------------------- Section -------------------------- */
section {
  position: relative;
}

/* ------------------------------- Ul -------------------------- */
ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* ------------------------------- a -------------------------- */
a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  main {
    margin: 5.5em 1em 0;
    max-width: 100%;
  }
}

/* ------------------------------- Responsive for Phone -------------------------- */
@media screen and (min-device-width: 300px) and (max-device-width: 480px) {
  main {
    margin: 90px auto 0;
    max-width: calc(100% - 12px);
  }
}

/* ------------------------------- Dark Mode -------------------------- */
#toggle-theme-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: -5%;
}

.dark-mode #toggle-theme-btn {
  background-color: red;
  color: blue;
}

.dark-mode {
  background-color: #0f172a;
  color: var(--white-color);
}

.light-mode {
  background-color: var(--body-bg-color);
  /* color: var(--black-color); */
  color: #004080;
}
