#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    box-shadow: 0 0 1px 2px var(--white-color);
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 4px;
    transform: translate(0, 70px);
}

#scroll-to-top i {
    color: var(--white-color);
    font-size: 20px;
}

/* ------------------------------- Responsive for Tablet -------------------------- */
@media screen and (min-device-width : 481px) and (max-device-width : 800px) {
    #scroll-to-top {
        padding: 8px 12px;
    }

    #scroll-to-top i {
        color: var(--white-color);
        font-size: 20px;
    }

    #scroll-to-top {
        box-shadow: 0 0 2px 2px var(--white-color);
        transition: all .3s linear;
    }
}

/* ------------------------------- Responsive for Phone -------------------------- */
@media screen and (max-width:360px) {
    #scroll-to-top {
        padding: 6px 10px;
    }

    #scroll-to-top i {
        color: var(--white-color);
        font-size: 15px;
    }

    #scroll-to-top {
        box-shadow: 0 0 2px 2px var(--white-color);
        transition: all .3s linear;
    }
}